.top {
  margin-top: 15px;
}

.nav-pills {
  li.colored {
    padding-right: 5px;
    a {
      background-color: darkgray;
    }
    :hover {
      background-color: grey;
    }
  }
}

#ptmroute-nodesarr {
  label {
    display: block;
    margin-left: 10px;
  }
}