.top {
  margin-top: 15px;
}
.nav-pills li.colored {
  padding-right: 5px;
}
.nav-pills li.colored a {
  background-color: darkgray;
}
.nav-pills li.colored :hover {
  background-color: grey;
}
#ptmroute-nodesarr label {
  display: block;
  margin-left: 10px;
}
#map {
  width: auto;
  height: 500px;
  cursor: pointer;
}
