.admin-panel {
    margin: 10px 0px 0px 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    padding-top: 0px;
}

.admin-panel input {
    display: list-item;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 2px;
    margin: 10px;
}

.admin-panel input:active {
    border-color: #888;
}

.admin-panel h2 {
    margin-left: 50px;
    display: inline-block;
}

.admin-panel #exit-button {
    float: right;
    margin: 30px;
    margin-bottom: 0px;
    color: indianred;
}

#map-admin {
    height: 600px;
    cursor: crosshair;
}

.node-cards {
    transition: ease 0.5s;
}

.node-card-item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #708fa0;
    border-radius: 2px;
    color: white;
    transition: ease 0.5s;
}

#delete-last {
    cursor: pointer;
    color: indianred;
    margin-top: 20px;
}