.admin-panel {
    margin: 10px 0px 0px 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    padding-top: 0px;
}

.admin-panel input {
    display: list-item;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 2px;
    margin: 10px;
}

.admin-panel input:active {
    border-color: #888;
}

.admin-panel h2 {
    margin-left: 50px;
    display: inline-block;
}

.admin-panel #exit-button {
    float: right;
    margin: 30px;
    margin-bottom: 0px;
    color: indianred;
}

#map1 {
    display: inline-block;
    height: 600px;
    width: 100%;
    cursor: crosshair;
    margin-top: 10px;
}

.node-cards {
    transition: ease 0.5s;
}

.node-card-item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #708fa0;
    border-radius: 2px;
    color: white;
    transition: ease 0.5s;
}

#delete-last {
    cursor: pointer;
    color: indianred;
    margin-top: 20px;
    margin-bottom: 10px;
}

.table-table {
    display: table;
    margin-left: 20px;
}

.table-head {
    display: table-caption;
}

.table-row {
    display: table-row;
}

.table-item {
    display: table-cell;
    padding: 10px;
    background-color: #dddddd;
}

.table-item:hover {
    background-color: #ededed;
}

input {
    width: 90% !important;
}

select {
    width: 90% !important;
    margin: 10px !important;
}
